@model Coffee
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<b>Category: </b> @Model.Category <br />
<b>About: </b>@Model.Description
<br />
<br />
<div>
    <a href="">Add to Cart</a> <br />
    <a href="/coffee/index/">Back</a>
</div>